@import "tailwindcss";

:root {
  --background: #fff7ef;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --font-sans: var(--font-sans);       
  --font-alt:  var(--font-alt);  
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
    font-family: var(--font-sans), system-ui, -apple-system, Arial, Helvetica, sans-serif;

  background-image: url("/patterns/paws.svg");
  background-repeat: repeat;
  background-size: 600px 600px;
  background-position: 0 0;
}

code,
pre,
.mono {
  font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
.container {
  width: 100%;
  max-width: 1428px;

  padding-inline: 79.38px;
  margin-inline: auto;
  box-sizing: border-box;
}
